@model Tenders.Models.Tender


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />


</head>
<body>
    <div>
        </br>
        <h3 class="text">Детальное описание</h3>

        <div class="well">
        <div class="myborder">

                <div class="row ">
                    <div class="col-sm-8 ">

                        <p>  @Html.DisplayFor(model => model.SubjectTender)</p>

                        <p>  @Html.DisplayFor(model => model.DescriptionTender)</p>

                       

                        <p>
                            @Html.DisplayFor(model => model.ViewTender.ListViewTenders)
                        </p>

                        <p>  @Html.DisplayFor(model => model.Category.ListCategory)</p>

                    </div>

                
                    <div class="col-sm-4 ">
                        <p>Статус</p>
                        <p>@Html.DisplayFor(model => model.Budget) + @Html.DisplayFor(model => model.CurrencyBudget.ListCurrencyBudget) </p>

                       

                    </div>
                </div>
            


            </br>

            <div class="myborder">
                <div class="row">
                    <div class="col-sm-12">
                        <p>   @Html.DisplayFor(model => model.OrgTender.ListOrgTender)</p>
                     
                        <p>ЕГРПОУ</p>
                    </div>
                </div>
            </div>

            </br>

            <div class="myborder">
                <div class="row">
                    <div class="col-sm-12">

                        <p>  @Html.DisplayFor(model => model.SponsorShip)</p>
                        <p>   @Html.DisplayFor(model => model.date)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <p>
                <a class="btn btn-default" href=" @Url.Action("Index", "Home")">Назад</a>

            </p>
        </div>
</body>
</html>