@using Tenders.Models
@using Tenders.HtmlHelpers
@model TenderListViewModel



<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>

    <h1>Тендеры</h1>



    @foreach (var item in @Model.Tenders)
    {

        <div>
            <p> Тендер номер @item.TenderID</p>
            <p>@item.SubjectTender</p>
            <p>@item.OrgTender.ListOrgTender</p>
            <p>@item.Budget</p>
            <p>@item.CurrencyBudget.ListCurrencyBudget</p>
            <p>@item.SponsorShip</p>



        </div>

    }
       
           

   

      



</body>
</html>