@model PagedList.IPagedList<Tenders.Models.Tender>
@using PagedList.Mvc;






<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    
</head>
<body>
    </br>

    <h2 class="text">Тендеры </h2>
    <div class="well">
        <div>



            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="form-inline">
                    <input class="form-control" type="text" name="searchString">
                    <input class="btn  btn-default" type="submit" value="Поиск" />

                </div>

            }
        </div>
    </div>





    @foreach (var item in @Model)
    {
        <div class="well">
            <p> Тендер номер @item.TenderID</p>

            <div class="row">
                   
                    <div class="col-sm-4  ">
                      
                            <p class="lead">@item.SubjectTender</p>
                            <p>@item.OrgTender.ListOrgTender</p>
                       
                    </div>
               
                <div class="col-sm-4   ">
                    <p>@item.Budget</p>
                    <p>@item.CurrencyBudget.ListCurrencyBudget</p>
                </div>

                <div class="col-sm-4 ">
                    <p>@item.SponsorShip</p>
                    <a class="btn btn-default" href=" @Url.Action("DetailDesription", "Home", new { id = item.TenderID })">Детальное описание</a>
                  
                </div>
            </div>




          

        </div>
    }
  

        <div class="text">
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>


</body>
</html>