@model PagedList.IPagedList<Tenders.Models.Tender>
@using PagedList.Mvc;






<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>

    <h1>Тендеры</h1>


    @foreach (var item in @Model)
    {

        <div class="well">
            <strong> Тендер номер @item.TenderID</strong>
            <h3>
                <span class="lead">@item.SubjectTender</span>
            </h3>

            <p>@item.OrgTender.ListOrgTender</p>
            <span class="pull-right label label-primary">@item.Budget</span>
            <p>@item.CurrencyBudget.ListCurrencyBudget</p>
            <p>@item.SponsorShip</p>



        </div>

    }



    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))



</body>
</html>