@using Tenders.Models

@model TenderListViewModel



<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Моя первая веб-страница</title>
</head>
<body>

    <h1>Тендеры</h1>



    @foreach (var item in @Model.Tenders)
    {

        <div>
            <p> Тендер номер @item.TenderID</p>
            <p>@item.SubjectTender</p>
            <p>@item.OrgTender.ListOrgTender</p>
            <p>@item.Budget</p>
            <p>@item.CurrencyBudget.ListCurrencyBudget</p>
            <p>@item.SponsorShip</p>



        </div>

    }
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",new { page = x }))
    </div>



</body>
</html>