@model IEnumerable<Tenders.Models.OrgTender>

@{
    ViewBag.Title = "Index";
}


</br>
<div class="form-group">

    <a class="btn btn-default"  href=" @Url.Action("Create", "OrgTenders")">Создать новое</a>
  
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListOrgTender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListOrgTender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrgTenderID }) |
         
            @Html.ActionLink("Delete", "Delete", new { id=item.OrgTenderID })
        </td>
    </tr>
}

</table>
