@model IEnumerable<Tenders.Models.ViewTender>

@{
    ViewBag.Title = "Index";
}



</br>
<div class="form-group">

    <a class="btn btn-default" href=" @Url.Action("Create", "ViewTenders")">Создать новое</a>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListViewTenders)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListViewTenders)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ViewTenderID }) |    
            @Html.ActionLink("Delete", "Delete", new { id=item.ViewTenderID })
        </td>
    </tr>
}

</table>
