@model IEnumerable<Tenders.Models.Tender>




</br>
<div class="form-group">

    <a class="btn btn-default" href=" @Url.Action("Create", "Tenders")">Создать новый тендер</a>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectTender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionTender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.ListCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyBudget.ListCurrencyBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgTender.ListOrgTender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewTender.ListViewTenders)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorShip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectTender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionTender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.ListCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyBudget.ListCurrencyBudget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgTender.ListOrgTender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewTender.ListViewTenders)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SponsorShip)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.TenderID })
            @Html.ActionLink("Описание", "Details", new { id = item.TenderID })
            @Html.ActionLink("Удалить", "Delete", new { id = item.TenderID })
        </td>
    </tr>
}

</table>
